DJANGO_LOG_LEVEL=CRITICAL
DJANGO_SECRET_KEY=
DJANGO_TMP_HOME=/srv/django/tmp_home
DJANGO_PERSISTENT_HOME=/srv/django/persistent_home
DJANGO_CORS_ALLOWED_ORIGIN="https://getodk.org,https://staging.enketo.getodk.org"
FORWARDED_ALLOW_IPS=172.18.0.1